<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cervezapp"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="Cervezapp"
        android:allowBackup="true"
        android:icon="@drawable/pub"
        android:label="@string/pantalla.principal.activity.title"
        android:theme="@style/HoloTheme" >
        <activity
            android:name="com.android.cervezapp.view.screen.PantallaPrincipalActivity"
            android:label="@string/pantalla.principal.activity.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.cervezapp.view.screen.UsuarioSeleccionActivity"
            android:label="@string/seleccion.usuario.activity.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.cervezapp.view.screen.UsuarioEdicionActivity"
            android:label="@string/edicion.usuario.activity.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.cervezapp.view.screen.BarAdministracionActivity"
            android:label="@string/bar.administracion.activity.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.cervezapp.view.screen.BarEdicionActivity"
            android:label="@string/bar.edicion.activity.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.cervezapp.view.screen.VisualizarComentariosActivity"
            android:label="@string/visualizar.comentarios.activity.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>